**/*.DS_Store
target
.idea

scripts/logs
scripts/*.local.sh
scripts/**/*.local.sh
scripts/**/package-lock.json

package-lock.json
yarn.lock
node_modules

generated
dist
.data

*.dep.txt
*.log

_env.ts
chain.json
chain.ts
build
